body{
    background-color: #EEEEEE;
}

h1{
     color:#368B85;
 } 
h3{
     color:#368B85;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;        
}
